@import url('https://fonts.googleapis.com/css?family=Noto%20Music:700|Noto%20Music:400');

body {
    font-family: 'Noto Music';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Music';
    /* font-weight: 500; */
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


:root {
    color-scheme: light;
    --text: #10141e;
    --background: #e8eaf2;
    --accent: #8a684c;
    --border: #333;
}

[data-theme="dark"] {
    color-scheme: dark;
    --text: #e1e5ef;
    --background: #0d0f17;
    --accent: #b39175;
    --border: #fff;
}

* {
    transition: background-color 1s;
}

#themeBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: .5rem;
    box-shadow: 2px 2px 5px currentColor;
    transition: background-color 1s;
    color: var(--text);
    cursor: pointer; 
}

#themeBtn:hover {
    background-color: var(--text);
    color: var(--background);
}

#changeAuthBtn {
    position: fixed;
    /* width: 130px;
    height: 50px; */
    top: 20px;
    left: 20px;
    z-index: 99;
    outline: none;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: .5rem;
    box-shadow: 2px 2px 5px currentColor;
    transition: background-color 1s;
    color: var(--text);
    cursor: pointer; 
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
}

svg {
    height: 30px;
    width: 30px;
}

.signUpIcon, .LoginIcon {
    font-size: 32px;
    height: 3rem;
    width: 3rem;
    background-color: var(--text);
    color: var(--background);
}

.login-container, .signup-container, .forgotpassword-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: 2.5rem 1.5rem;
    margin: auto;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: .5rem;
    box-shadow: 6px 6px 10px currentColor;
}

.showPasswordIcons {
    position: relative;
}

#showPassword, #hidePassword {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 360px;
    font-size: 24px;
}

#showPassword{
    display: none;
}

.progress {
    max-height: 5px;
}

.qrcode {
    height: 300px;
    width: 300px;
}

.pages {
    display:flex;
    flex: 1;
    white-space:nowrap;
    position:relative;
    overflow: hidden;
}

.page {
    min-width:100%;
    transition: all 1s;
}