@import url('https://fonts.googleapis.com/css?family=Noto%20Music:700|Noto%20Music:400');

body {
    font-family: 'Noto Music';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Music';
    /* font-weight: 500; */
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


:root {
    color-scheme: light;
    --text: #10141e;

    --background: #ffffff;
    --background-x: #757470;
    --background-hover: #ebebea;
    --background-shadow: #32325d40;

    --accent: #8a684c;
    --border: #333;
}

[data-theme="dark"] {
    color-scheme: dark;
    --text: #e1e5ef;
    --text-x: #9b9b9b;


    --background: #252525;
    --background-x: #323232;
    --background-hover: #2c2c2c;
    --background-shadow: rgba(180, 180, 243, 0.25);

    --accent: #b39175;
    --border: #fff;
}

* {
    transition: background-color 0.3s;
}

#themeBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: .5rem;
    box-shadow: 2px 2px 5px currentColor;
    transition: background-color 0.5s;
    color: var(--text);
    cursor: pointer; 
}

#themeBtn:hover {
    background-color: var(--text);
    color: var(--background);
}

#copyBtn {
    width: 50px;
    height: 50px;
    outline: none;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: .5rem;
    transition: background-color 0.5s;
    color: var(--text);
    cursor: pointer; 
    position: relative;
}

#copyBtn:hover {
    background-color: var(--background-hover);
}

/* #copyBtn:active::after {
    content: "copied";
    position: absolute;
    top: -35px;
    left: -30px;
    width: 100px;
    transition:1s;
} */

.Apptitle, .toolsBar {
    border-bottom: 1px solid var(--border);
}

#changeAuthBtn, #logoutBtn, #refreshKeysBtn, #eraseBtn, #sendMessageBtn {
    outline: none;
    border-radius: 0;
    color: var(--text);
    cursor: pointer; 
    text-align: center;
    position: relative;
}

#changeAuthBtn:hover, #logoutBtn:hover, #refreshKeysBtn:hover, #eraseBtn:hover {
    background-color: var(--background-hover);
}

#logoutBtn  {
    border-right: 1px solid var(--border);
}

#sendMessageBtn {
    cursor: pointer;
    position: absolute;
	right: 4px;
    top: calc(100% - 46px);
}

.left-top, .left-chat {
    width: 30%!important;
}

.right-top, .right-chat {
    width: 70%!important;
}

.left-chat {
    border-right: 1px solid var(--border);
}

.right-top-button-group {

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
}

svg {
    height: 30px;
    width: 30px;
}

.signUpIcon, .LoginIcon {
    font-size: 32px;
    height: 3rem;
    width: 3rem;
    background-color: var(--text);
    color: var(--background);
}

.login-container, .signup-container, .forgotpassword-container, .chatApp-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: 2.5rem 1.5rem;
    margin: auto;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: .5rem;
    box-shadow: 6px 6px 10px currentColor;
}

.showPasswordIcons {
    position: relative;
}

#showPassword, #hidePassword {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: calc(100% - 50px);
    font-size: 24px;
}

#showPassword{
    display: none;
}

.progress {
    max-height: 5px;
}

.qrcode {
    height: 300px;
    width: 300px;
}

.pages {
    display:flex;
    flex: 1;
    white-space:nowrap;
    position:relative;
    overflow: hidden;
}

.page {
    min-width:100%;
    transition: all 1s;
}

.top {
    min-height: 400px;
}

.chatApp-container {
    min-width: 90%;
    padding: 0;
    margin: 3px;
    justify-content: center;
    height: 80%;
}

.search-container {
    border-bottom: 1px solid var(--border);
}

.hide {
    display: none !important;
}

#userList {
    display: none;
}

#userListDisplay {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.user_block {
    outline: none;
    background-color: var(--background);
    transition: background-color 0.5s;
    color: var(--text);
    cursor: pointer; 
    text-align: center;
    margin: 0;
    width: 100%;
    height: 70px;
    position: relative;
    box-shadow: var(--text) 0px 30px 2px;
}
.user_block:hover {
    background-color: var(--background-hover);
}

#userListDisplay label,
#userListDisplay input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#userListDisplay input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

#userListDisplay input[type="radio"]:checked+label,
.Checked+label {
    /* background: var(--background-x); */
    box-shadow: var(--background-shadow) 0px 30px 80px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

#userListDisplay label {
    padding: 5px;
    padding-top: 20px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    z-index: 90;
}

#userListDisplay label:hover {
    background: var(--background-hover);
}

.myTag, .peerTag {
    border-radius: 25px;
    border: 1px solid var(--background-x);
    padding: 0.5rem 1rem;
    margin: 1rem;
    max-width: 70%;
    width: fit-content;
    text-align: left;
}

.keyChangedTag {
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--text-x);
    justify-content: center;
    border: 1px solid#ff2f55;
    background-color: #ff2f55;
}

.myTag {
    margin-left: auto;
    justify-content: left;
}

.peerTag {
    margin-right: auto;
}

.warningTag {
    width: 100%;
    padding: 0.5rem 1rem;
    justify-content: center;
    border: 1px solid#ffe32f;
    background-color: #ffe32f;
    color: var(--text-x);
}