{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}
{% block body %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="forgotpassword-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} d-flex align-items-center" role="info">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>{{ message }}</div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if error %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
            <div>{{ error }}</div>
        </div>
    {% endif %}
    <div class="container d-flex justify-content-center align-items-center mb-3">
        <i class="signUpIcon bi bi-pencil-fill rounded-circle d-flex justify-content-center align-items-center"></i>
    </div>
    <h2 class="text-center mb-5">Forget Password</h2>
    <form class="pages" action="/forgotPassword" method="post">
        <div class="div page page1">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="passphrase" name="passphrase" placeholder="Recovery Passphrase" required>
                <label for="passphrase">Recovery passphrase</label>
            </div>
            <div class="form-floating mb-2 position-relative">
                <input type="password" class="form-control" id="password" name="password" placeholder="New password" required>
                <label for="password">New Password</label>
                <div class="showPasswordIcons">
                    <i class="bi bi-eye" id="showPassword"></i>
                    <i class="bi bi-eye-slash" id="hidePassword"></i>
                </div>
                <div class="progress" role="progressbar">
                    <div class="progress-bar"></div>
                </div>
                <div class="score-label position-absolute"></div>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="otp" name="otp" placeholder="otp" required>
                <label for="otp">OTP</label>
            </div>
            <div class="d-flex justify-content-center mb-1">
                <div class="g-recaptcha" data-sitekey="6LfZNacpAAAAABXjgdHc1oS2XgxZUViI9ueNKElY" data-type="image"></div>
            </div>
            <div class="text-center mb-3">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-lg btn-outline-primary w-50">Reset</button>
                </div>
            </div>
        </div>
    </form>
    <div class="container d-flex flex-column align-items-center pt-4">
        <div class="opacity-75 mb-1">Back to Login</div>
        <a class="btn btn-outline-secondary w-25" href="{{ url_for('login') }}">Login</a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/zxcvbn@4.4.2/dist/zxcvbn.min.js"></script>
<script type="text/javascript">

    // Show/hide Password
    $("#showPassword").on("click", function() {
        $("#password").prop("type", "password")
        $("#showPassword").hide()
        $("#hidePassword").show()
    }) 
    $("#hidePassword").on("click", function() {
        $("#password").prop("type", "text")
        $("#hidePassword").hide()
        $("#showPassword").show()
    }) 

    // pages
    $(".continue").on('click',function(){ // go to page2
        $(".page").css("transform", "translate(-100%, 0)")
        $(".page1").css({
            "visibility": "hidden",
            "opacity": "0",
        })
        $(".page2").css({
            "visibility": "visible",
            "opacity": "1",
        })
    })
    $(".back").on('click',function(){ // back to page1
        $(".page").css("transform", "translate(0%, 0)")
        $(".page1").css({
            "visibility": "visible",
            "opacity": "1",
        })
        $(".page2").css({
            "visibility": "hidden",
            "opacity": "0",
        })
    })

    // Password strength bar
    $("#password").on("input", function() {
        const username = $("#username").val()
        const input = $(this).val()

        barWidth = zxcvbn(input, [username]).score * 100 / 4 //(0%, 25%, 50%, 75%, 100%)

        // console.log(zxcvbn(input, [username]))

        $(".progress-bar").css("width", `${(barWidth < 25)? "4%" : barWidth * 4}`)
        $(".progress-bar").css("background-color", `${
            (barWidth < 25)? "grey":
            (barWidth < 50)? "red" : 
            (barWidth < 75)? "orange" : 
            (barWidth < 100)? "yellowgreen" : "green"}`)

        $(".score-label").text(`${(barWidth < 25)? "very weak": 
            (barWidth < 50)? "weak" : 
            (barWidth < 75)? "fair" : 
            (barWidth < 100)? "better" : "excellent"}`)
        $(".score-label").css("color", `${
            (barWidth < 25)? "grey": 
            (barWidth < 50)? "red" : 
            (barWidth < 75)? "orange" : 
            (barWidth < 100)? "yellowgreen" : "green"}`)
    })

</script>


{% endblock %}
