{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} d-flex align-items-center" role="info">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if error %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
                <div>{{ error }}</div>
            </div>
        {% endif %}
        <div class="container d-flex justify-content-center align-items-center mb-3">
            <i class="LoginIcon bi bi-person-fill rounded-circle d-flex justify-content-center align-items-center"></i>
        </div>
        <h2 class="text-center mb-5">Login</h2>
        <form action="/login" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                <label for="password">Password</label>
            </div>
            <div class="text-center mb-3">
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('forgotPassword') }}" class="text-decoration-none align-self-center">Forgot password?</a>
                    <button type="submit" class="btn btn-lg btn-outline-primary w-50">Login</button>
                </div>
            </div>
        </form>
        <div class="container d-flex flex-column align-items-center pt-4">
            <div class="opacity-75  mb-1">Don't have an account?</div>
            <a class="btn btn-outline-secondary w-25" href="{{ url_for('signup') }}">Sign up</a>
        </div>
    </div>
{% endblock %}