{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
    {% if qrCode%}
        <div id="mymodal" class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">You have successfully sign up!</h5>
                        <button type="button" class="btn-close modalClose" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center flex-column">
                        <h5>Step 1: Scan the QR-code to set up new authenticator for your next login</h5>
                        <h7>(You can use <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&pli=1" target="_blank">
                            Google Authenticator)
                        </a></h7>
                        <img id="qrcode" class="w-50 user-select-none" src="{{ qrCode }}">
                        <h5 class="mb-3">
                            Your secret key: {{twofa_key}}
                        </h5>
                        <h5>
                            Step 2: Remember the following passphrase for password recovery: 
                        </h5>
                        <h4 class="w-75 card card-body" style="text-align: justify; text-align-last: justify;">
                            {{words}}
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary modalClose" data-bs-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#mymodal").show()
            })

            $(".modalClose").on('click', function() {
                $("#mymodal").hide()
            })
        </script>
    {% endif %}
    {% if words %}
        <div id="mymodal" class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">You have successfully change the password!</h5>
                        <button type="button" class="btn-close modalClose" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center flex-column">
                        <h5>
                            Remember the following passphrase for the next recovery: 
                        </h5>
                        <h4 class="w-75 card card-body" style="text-align: justify; text-align-last: justify;">
                            {{words}}
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary modalClose" data-bs-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#mymodal").show()
            })

            $(".modalClose").on('click', function() {
                $("#mymodal").hide()
            })
        </script>
    {% endif %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} d-flex align-items-center" role="info">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if error %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
                <div>{{ error }}</div>
            </div>
        {% endif %}
        <div class="container d-flex justify-content-center align-items-center mb-3">
            <i class="LoginIcon bi bi-person-fill rounded-circle d-flex justify-content-center align-items-center"></i>
        </div>
        <h2 class="text-center mb-5">Login</h2>
        <form class="pages" action="/login" method="post">
            <div class="div page page1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                    <label for="password">Password</label>
                    <div class="showPasswordIcons">
                        <i class="bi bi-eye" id="showPassword"></i>
                        <i class="bi bi-eye-slash" id="hidePassword"></i>
                    </div>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="otp" name="otp" placeholder="otp" required>
                    <label for="otp">OTP</label>
                </div>
                <div class="text-center mb-3">
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('forgotPassword') }}" class="text-decoration-none align-self-center">Forgot password?</a>
                        <button type="submit" class="btn btn-lg btn-outline-primary w-50">Login</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-1">
                    <div class="g-recaptcha" data-sitekey="6LfZNacpAAAAABXjgdHc1oS2XgxZUViI9ueNKElY" data-type="image"></div>
                </div>
            </div>
        </form>
        <div class="container d-flex flex-column align-items-center pt-4">
            <div class="opacity-75  mb-1">Don't have an account?</div>
            <a class="btn btn-outline-secondary w-25" href="{{ url_for('signup') }}">Sign up</a>
        </div>
    </div>
    <script type="text/javascript">

        // Show/hide Password
        $("#showPassword").on("click", function() {
            $("#password").prop("type", "password")
            $("#showPassword").hide()
            $("#hidePassword").show()
        }) 
        $("#hidePassword").on("click", function() {
            $("#password").prop("type", "text")
            $("#hidePassword").hide()
            $("#showPassword").show()
        }) 

        // pages
        $(".continue").on('click',function(){ // go to page2
            $(".page").css("transform", "translate(-100%, 0)")
            $(".page1").css({
                "visibility": "hidden",
                "opacity": "0",
            })
            $(".page2").css({
                "visibility": "visible",
                "opacity": "1",
            })
        })
        $(".back").on('click',function(){ // back to page1
            $(".page").css("transform", "translate(0%, 0)")
            $(".page1").css({
                "visibility": "visible",
                "opacity": "1",
            })
            $(".page2").css({
                "visibility": "hidden",
                "opacity": "0",
            })
        })
        
    </script>
{% endblock %}